header{
    background-color: black; 
    height: 100%;
     width: 100%;
     align-items: center;   
     justify-content: center;
     text-align: center;
     display: flex;
     flex-direction: column;
     margin: 0;
     
}
.navsec{
    display: flex;
    justify-content: space-between;
}
.ORimg img{
    width: 50px;
    height: 50px;
}
.navlists ul{
    display: flex;
    align-items: center;
    color: white;
    gap: 30px;
    list-style: none;
    justify-content: right;
    margin-left: 30px;
}
.mypic img{
    width: 200px;
    height: 400px;
    background-color: gray;
}
.scndsec{
    display: flex;
    gap: 20px;
    justify-content: center;
}
.scndsec p{
    color: white;
}
h1{
    color: white;
    margin-bottom: 10px;
    font-size: 45px;
}
.btn1{
    background-color: white;
    color: black;
    padding: 8px;
    margin-right: 5px;
}
.btn2{
    border: 1px solid white;
    padding: 8px;
    background-color: black;
    color: white;
   
}
h2{
    color: white;
    margin-bottom: 35px;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: normal;
    text-decoration: underline;
    margin-left: 15px;
}
.p2{
    margin-left: 15px;
}
.btns{
    gap: 10px;
    margin-left: 10px;
    display: flex;
   justify-content: center;
}
.body{
    background-color: black;
    height: 100%;
    margin: 0;
    padding: 0;
}
